<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="pull-left clearfix">
        <h3 class="panel-title" style="font-weight: 800; font-size: x-large">
          Contacts
        </h3>
      </div>
      <div class="pull-right">
        <button class="btn btn-success">New Contact</button>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <a
            href="#"
            class="list-group-item clearfix"
            *ngFor="let contact of contacts"
          >
            <div class="pull-left">
              <h4 class="list-group-item-heading">Bro. {{ contact.name }}</h4>
            </div>
            <div class="pull-right">
              <img
                [src]="contact.imageUrl"
                alt="{{ contact.name }}"
                class="image-responsive contact-image"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
